.sidebar {
  width: 300px;
  height: 535px;
  position: fixed;
  top: 130px;
  left: 185px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebarList {
  list-style-type: none;
  gap: 13px;
  padding: 0;
  margin: 0;
}

.sidebarListItem {
  color: #039;
  font-size: 13px;
  margin-bottom: 5px;
}

.sidebarListItemText {
  text-decoration: none;
  margin-left: 10px;
  color: blue;
}

.sidebarIcon {
  font-size: 20px;
  color: inherit;
}

.li-title {
  color: #039;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 21px;
  font-weight: bold;
  list-style-type: none;
}
